[package]
name = "dsynth"
version = "0.3.0"
edition = "2024"

[lib]
name = "dsynth"
path = "src/lib.rs"
crate-type = ["lib", "cdylib"]

[features]
default = ["simd", "standalone"]
simd = []
standalone = ["iced", "cpal", "midir", "rfd"]
clap = ["clap-sys", "vizia"]

[dependencies]
iced = { version = "0.13", optional = true }
vizia = { git = "https://github.com/vizia/vizia.git", optional = true, default-features = false, features = ["baseview", "x11"] }
raw-window-handle = "0.5"
cpal = { version = "0.15", optional = true }
midir = { version = "0.10", optional = true }
triple_buffer = "6.0"
crossbeam-channel = "0.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
bincode = "1.3"
clap-sys = { version = "0.3", optional = true }
rfd = { version = "0.15", optional = true }
rand = "0.8"
image = "0.25"

[dev-dependencies]
approx = "0.5"
criterion = "0.5"
tempfile = "3.0"
serde_json = "1.0"

[[bench]]
name = "dsp_bench"
harness = false

[[bench]]
name = "optimization_bench"
harness = false
